{% extends 'core/base.html' %} {% block button %}

<a href="{% url 'contracts' %}" class="btn btn-light border">Regresar</a> {% endblock %} {% block content %}



<div class="border border-dark m-2">

    <h4 class="mt-2">{{ contract.name }} - {{ contract.date }}</h4>

    <table class="table table-striped table-bordered table-sm">
        <thead class="table-dark">
            <tr>
                <th>pol</th>
                <th>pod</th>
                <th>curr</th>
                <th>twenty</th>
                <th>forty</th>
                <th>fortyhc</th>
            </tr>
        </thead>
        {% for rate in rates %}

        <tr>
            <td>{{ rate.pol }}</td>
            <td>{{ rate.pod }}</td>
            <td>{{ rate.curr }}</td>
            <td>{{ rate.twenty }}</td>
            <td>{{ rate.forty }}</td>
            <td>{{ rate.fortyhc }}</td>
        </tr>

        {% endfor %}

    </table>
</div>
{% endblock %}