body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background: #fffcfc;
    padding: 2px;
}

.text-justify{
    text-align: justify;
}

.menu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style-type: none;
    font-size: 18px;
    margin-top: 15px;
}

img {
    width: 170px;
}

a {
    color: #4d4b4b;
    text-decoration: none;
}

.item {
    padding-top: 7px;
    margin-left: 5px;
    margin-right: 5px;
}

.start {
    margin-left: 50px;
}

.finish {
    margin-right: 100px;
}


.highcharts-figure,
.highcharts-data-table table {
    min-width: 310px;
    max-width: 400;
    margin: 1em auto;
}

#container {
    height: 400px;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 300px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 300;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}